/* Fonts */

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito-v32-latin-regular.woff2") format("woff2");
}
/* nunito-600 - latin */
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../assests/fonts/nunito-v32-latin-600.woff2") format("woff2");
}

/* syne-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/syne-v24-latin-regular.woff2") format("woff2");
}

@view-transition {
  navigation: auto;
}

:root {
  /* Colores */
  --bg-color: #1f2229;
  --clearer-black: color-mix(in srgb, white 25%, var(--bg-color));
  --yellow: #edbb36;
  --grey: #b6b4b7;
  --darker-grey: color-mix(in srgb, black 25%, var(var(--grey)));
  --orange: #d97a2b;
  --white: #f3f4f6;
  --blue: #809eff;

  /* Medidas de espaciado */
  --global-margin: 8rem;
  --global-padding: 2rem;

  /* Tamaño de fuentes */
  --normal: 24px;
  --title: 64px;
  --title-secondary: 32px;
  --small: 18px;
}

body {
  background-color: var(--bg-color);
  color: var(--grey);
  font-family: "Nunito", Arial, sans-serif;
  font-size: var(--normal);
}

/* Título y barra de navegación */

.main-header {
  font-family: "Syne", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--global-padding);
  margin-inline: var(--global-margin);

  h1 {
    font-size: 64px;
    color: var(--white);
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--grey);
  }
  .nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .nav-item-link {
    color: var(--grey);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    transition:
      background-color 0.25s ease,
      transform 0.25s ease;

    &:hover {
      color: var(--bg-color);
      background-color: var(--white);
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

span {
  color: var(--white);
}

/* Contenido general de las secciones y wrapper */

.wrapper {
  padding: var(--global-padding);
  margin-inline: var(--global-margin);
}

.panel {
  margin: 2rem;

  header h1 {
    font-size: x-large;
    color: var(--white);
    padding: 1rem 0;
  }

  a {
    text-decoration: underline var(--blue);
    color: var(--grey);
    transition: text-decoration 0.5s ease;

    &:hover {
      text-decoration: none;
    }
  }
}

.panel + .panel {
  border-top: 1px solid var(--grey);
}

/* Sección de fotos */

.view-selector {
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  gap: 1rem;

  input {
    appearance: none;
  }

  label {
    padding: 0.25rem;
  }

  & label:hover {
    color: var(--white);
    cursor: pointer;
    padding: 0.25rem;
    border: 0.5px solid var(--grey);
    border-radius: 12px;
    background-color: color-mix(in srgb, var(--grey), transparent 85%);
  }

  input:checked + label {
    background-color: color-mix(in srgb, var(--grey), transparent 85%);
    padding: 0.25rem;
    border: 0.5px solid var(--grey);
    border-radius: 12px;
    color: var(--white);
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card-photo {
  --size: 280px;
  border: 0.5px solid var(--grey);
  border-radius: 12px;
  width: var(--size);
  height: var(--size);

  .image-cover {
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .image-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-view-box: inset(15%);
    transition: object-view-box ease 0.5s;
    border-radius: 12px;
  }

  .image-cover img:hover {
    object-view-box: inset(0);
  }
}
/* flexbox vertical */
.view-selector:has(input[value="flex-vertical"]:checked) + .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* grid */

.view-selector:has(input[value="grid"]:checked) + .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat;
  justify-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 2rem;

  /* Grid irregular de las fotos*/

  .image-cover,
  .image-cover img {
    width: inherit;
    height: inherit;
  }
  .coco-bed,
  .coco-bed .image-cover,
  .coco-bed .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-bed {
    grid-column: 1 / 3;
    grid-row: 1/ 3;
  }

  .coco-monkey,
  .coco-monkey .image-cover,
  .coco-monkey .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-monkey {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .coco-tongue,
  .coco-tongue .image-cover,
  .coco-tongue .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-tongue {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .coco-beach,
  .coco-beach .image-cover,
  .coco-beach .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach2,
  .coco-beach2 .image-cover,
  .coco-beach2 .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach3,
  .coco-beach3 .image-cover,
  .coco-beach3 .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach3 {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .coco-bridge,
  .coco-bridge .image-cover,
  .coco-bridge .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-weird,
  .coco-weird .image-cover,
  .coco-weird .image-cover img {
    width: 100%;
    height: 100%;
  }
}

/* Botones */

.board {
  --size: 720px;
  width: var(--size);
  height: var(--size);
  background-color: color-mix(in srgb, var(--white), black 10%);
  border-radius: 12px;
  box-shadow: -1px 2px 2px var(--grey);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-container {
  background-color: white;
}

.button {
  width: 120px;
  height: 30px;
  border-radius: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Syne", Arial, sans-serif;
  padding: var(--global-padding);
  margin-inline: var(--global-margin);
  .footer-list {
    list-style: none;
    padding: 0;
  }

  .footer-item-link {
    color: var(--grey);
    text-decoration: none;
    font-size: 16px;
    font-family: "Syne", Arial, sans-serif;
  }

  & .footer-item-link:hover {
    color: var(--white);
    cursor: pointer;
  }
}
