/* Fonts */

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nunito-v32-latin-regular.woff2") format("woff2");
}
/* nunito-600 - latin */
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../assests/fonts/nunito-v32-latin-600.woff2") format("woff2");
}

/* syne-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/syne-v24-latin-regular.woff2") format("woff2");
}

@view-transition {
  navigation: auto;
}

:root {
  /* Colores */
  --bg-color: #1f2229;
  --clearer-black: color-mix(in srgb, white 25%, var(--bg-color));
  --yellow: #edbb36;
  --grey: #b6b4b7;
  --darker-grey: color-mix(in srgb, black 25%, var(--grey));
  --orange: #d97a2b;
  --white: #f3f4f6;
  --blue: #809eff;

  /* Medidas de espaciado */
  --global-margin: 8rem;
  --global-padding: 2rem;

  /* Tamaño de fuentes */
  --normal: 24px;
  --title: 64px;
  --title-secondary: 32px;
  --small: 18px;
}

body {
  background-color: var(--bg-color);
  color: var(--grey);
  font-family: "Nunito", Arial, sans-serif;
  font-size: var(--normal);
}

/* Título y barra de navegación */

.main-header {
  font-family: "Syne", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--global-padding);
  margin-inline: var(--global-margin);

  h1 {
    font-size: 64px;
    color: var(--white);
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--grey);
  }
  .nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .nav-item-link {
    color: var(--grey);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    transition:
      background-color 0.25s ease,
      transform 0.25s ease;

    &:hover {
      color: var(--bg-color);
      background-color: var(--white);
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

span {
  color: var(--white);
}

/* Navegación móvil */
.burger-menu {
  display: none;
}

/* Contenido general de las secciones y wrapper */

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
  margin-inline: var(--global-margin);
}

.panel {
  margin: 2rem;

  header h1 {
    font-size: x-large;
    color: var(--white);
    padding: 1rem 0;
  }

  a {
    text-decoration: underline var(--blue);
    color: var(--grey);
    transition: text-decoration 0.5s ease;

    &:hover {
      text-decoration: none;
    }
  }
}

.external-link {
  display: inline;
  width: 20px;
  height: 20px;
}

.panel + .panel {
  border-top: 1px solid var(--grey);
}

/* Sección de fotos */

.view-selector {
  padding: 0;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  gap: 3rem;

  input {
    appearance: none;
  }

  label {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    transition:
      background-color 0.25s ease,
      transform 0.25s ease;

    &:hover {
      color: var(--bg-color);
      background-color: var(--white);
      cursor: pointer;
      transform: translateY(-5px);
    }
  }

  svg {
    display: inline;
  }

  input:checked + label {
    color: var(--bg-color);
    background-color: var(--white);
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.card-photo {
  --size: 280px;
  border: 0.5px solid var(--grey);
  border-radius: 5px;
  width: var(--size);
  height: var(--size);

  .image-cover {
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .image-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-view-box: inset(15%);
    transition: object-view-box ease 0.5s;
    border-radius: 5px;
  }

  .image-cover img:hover {
    object-view-box: inset(0);
  }
}
/* flexbox vertical */
.view-selector:has(input[value="flex-vertical"]:checked) + .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* grid */

.view-selector:has(input[value="grid"]:checked) + .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat;
  justify-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 2rem;

  /* Grid irregular de las fotos*/

  .image-cover,
  .image-cover img {
    width: inherit;
    height: inherit;
  }
  .coco-bed,
  .coco-bed .image-cover,
  .coco-bed .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-bed {
    grid-column: 1 / 3;
    grid-row: 1/ 3;
  }

  .coco-monkey,
  .coco-monkey .image-cover,
  .coco-monkey .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-monkey {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .coco-tongue,
  .coco-tongue .image-cover,
  .coco-tongue .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-tongue {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .coco-beach,
  .coco-beach .image-cover,
  .coco-beach .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach2,
  .coco-beach2 .image-cover,
  .coco-beach2 .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach3,
  .coco-beach3 .image-cover,
  .coco-beach3 .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-beach3 {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .coco-bridge,
  .coco-bridge .image-cover,
  .coco-bridge .image-cover img {
    width: 100%;
    height: 100%;
  }

  .coco-weird,
  .coco-weird .image-cover,
  .coco-weird .image-cover img {
    width: 100%;
    height: 100%;
  }
}

/* Botones */

.board {
  --size: 720px;
  width: var(--size);
  height: var(--size);
  background-color: color-mix(in srgb, var(--white), black 10%);
  border-radius: 12px;
  box-shadow: -1px 2px 2px var(--grey);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.save-button {
  padding: 0;
  border-radius: 5px;
  border: none;
  outline-offset: 4px;
  background-color: color-mix(in srgb, var(--blue), var(--bg-color));
  cursor: pointer;

  span {
    display: block;
    color: var(--bg-color);
    padding: 12px 2rem;
    background-color: var(--blue);
    transform: translateY(-4px);
    border-radius: 5px;
    transition:
      transform 250ms ease,
      filter 250ms ease;
  }

  &:hover span {
    transform: translateY(-6px);
    filter: brightness(110%);
  }
  &:active span {
    transform: translateY(-2px);
  }
}

.settings-button {
  padding: 0.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 12px;
  border: 2px solid var(--orange);
  background-color: var(--white);
  outline-offset: 4px;
  cursor: pointer;

  span {
    color: var(--bg-color);
    letter-spacing: 1px;
  }

  &:hover {
    background-color: color-mix(in srgb, var(--white), var(--bg-color) 2%);
  }

  &:hover svg {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.order-button {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  line-height: 1.5;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 250ms ease;

  span {
    padding: 12px 2rem;
    color: var(--bg-color);
  }

  &:hover {
    transform: translateY(-7px);
    filter: brightness(110%);
    background-color: forestgreen;
    box-shadow: 0px 8px 15px rgba(34, 255, 0, 0.1);
  }

  &:hover span {
    color: var(--white);
  }

  &:active {
    transform: translateY(-1px);
  }
}

.doc-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--white);
  background-image: linear-gradient(to right, #71ffaf);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left center;
  transition:
    background-size 0.4s ease,
    color 0.4s ease;

  padding-inline: 1rem;
  border-radius: 60px;
  cursor: pointer;

  span {
    padding: 12px;
    color: var(--bg-color);
    font-size: 18px;
    letter-spacing: 1px;
  }

  &:hover {
    border: 1px solid var(--bg-color);
    background-size: 100% 100%;
  }

  &:hover svg {
    animation: right-bounce 600ms linear infinite;
  }
}

@keyframes right-bounce {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.button-notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding-inline: 1rem;

  span {
    padding: 12px;
    color: var(--bg-color);
    font-size: 18px;
    letter-spacing: 1px;
  }

  &:hover {
    filter: brightness(110%);
  }

  &:hover .bell {
    animation: ring 700ms ease-in;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--global-padding);
  margin-inline: var(--global-margin);

  header h2 {
    font-size: x-large;
    color: var(--white);
    padding: 1rem 2rem;
  }

  .footer-list {
    list-style: none;
    padding: 0 2rem;
  }

  .footer-item-link {
    color: var(--grey);
    text-decoration: none;
    font-size: var(--small);
    font-family: "Nunito", Arial, sans-serif;
  }

  & .footer-item-link:hover {
    color: var(--white);
    cursor: pointer;
  }
}

/* media queries */

/* tablet view */
@media (max-width: 678px) {
  body {
    width: 100dvw;
    height: 100dvh;
  }

  .main-header nav,
  .main-header .nav-list {
    display: none;
  }

  .main-header {
    margin: 0;
    padding: 0 2rem 0 2rem;
  }

  .burger-menu {
    display: inline-flex;

    .burger-menu-svg {
      width: 50px;
      height: 50px;
      align-self: center;
    }
  }

  .wrapper {
    margin: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .board {
    width: 100px;
  }

  * {
    background: rgb(0 100 0 / 0.1) !important;
  }
}
